%h2
  = t('registrations.edit', resource_name: resource_name.to_s.humanize)
= form_for(resource, as: resource_name, url: registration_path(resource_name),
           html: { class: 'signup-form form-horizontal', method: :put }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.email_field :email, autofocus: true, class: 'form-control'
  .form-group
    = f.label :name, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :password, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.password_field :password, autocomplete: 'off', class: 'form-control',
                                    placeholder: t('registrations.leave_blank')
  .form-group
    = f.label :password_confirmation, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :current_password, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.password_field :current_password, autocomplete: 'off', class: 'form-control',
                                            placeholder: t('registrations.change_pass_tip')
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit t('registrations.update'), class: 'btn btn-primary'
%h3= t('registrations.delete_account')

.row
  .col-sm-2
    = button_to t('registrations.delete_account'), registration_path(resource_name),
      data: { confirm: t('registrations.delete_confirm') }, method: :delete, class: 'btn btn-default'
