- provide(:title, 'Edit profile')

= form_for(current_user, as: "user", url: user_path,
        :html => {:class => 'signin-form form-horizontal'}) do |f|
  %h2.col-sm-offset-4.col-sm-8 Edit profile
  .form-group
    = f.label :name, class: "col-sm-4 control-label"
    .col-sm-8
      = f.text_field :name, autofocus: true, class: "form-control"
  .form-group
    = f.label :api_token, class: "col-sm-4 control-label"
    .col-sm-8
      %span.form-control
        = current_user.api_token
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit "Update", class: "btn btn-default"